<h2>CRISES</h2>
<ul class="heroes">
    <li *ngFor="let crisis of crises"
        [class.selected]="crisis.id === selectedId">
        <a [routerLink]="crisis.id">
            <span class="badge">{{ crisis.id }}</span>{{ crisis.name }}
        </a>
    </li>
</ul>

<router-outlet></router-outlet>