<div class="form-group">
    <label class="center-block">
        Currency: {{ 1000000 | currency:currencyCode:'symbol':'1.2-2' }}
    </label>
    <label class="center-block">
        Custom Exponent: {{ 5 | exponentialStrength: 2 }}
    </label>
    <!--<label class="center-block">
        Async Messages: {{ messages | async }}
    </label>-->
</div>