<div>
    <h3>Reactive Form</h3>
    <form [formGroup]="regForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label class="center-block">First Name:
                <input class="form-control" placeholder="First Name" formControlName="firstName" />
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Last Name:
                <input class="form-control" placeholder="Last Name" formControlName="lastName" />
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Age:
                <input class="form-control" placeholder="Age" type="number" formControlName="age" />
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Email:
                <input class="form-control" placeholder="Email" type="email" formControlName="email" />
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Date of Birth:
                <p-calendar formControlName="dateOfBirth"
                    dateFormat="dd/MM/yy"
                    showButtonBar="true"
                    readonlyInput="true"
                    [showIcon]="true"
                    [minDate]="minDate"
                    [maxDate]="maxDate">
                </p-calendar>
                <!-- <input class="form-control" placeholder="Date of Birth" type="date" formControlName="dateOfBirth" /> -->
            </label>
        </div>
        <div class="form-group radio">
            <h4>Sex:</h4>
            <label class="center-block">
                <input type="radio" formControlName="sex" value="M"> Male
            </label>
            <label class="center-block">
                <input type="radio" formControlName="sex" value="F"> Female
            </label>
        </div>
        <div class="checkbox">
            <label class="center-block">Physically Handicapped:
                <input type="checkbox" formControlName="physicallyHandicapped" />
            </label>
        </div>
        <div formArrayName="address">
            <fieldset *ngFor="let add of addresses.controls;let i = index" [formGroupName]="i">
                <legend>Address #{{i + 1}}</legend>
                <div class="form-group">
                    <label class="center-block">Country:
                        <!-- <select class="form-control" formControlName="country" (change)="onCountryChange($event.target.value)">
                            <option *ngFor="let ctry of countries" [value]="ctry">
                                {{ctry}}
                            </option>
                        </select> -->
                        <p-autoComplete formControlName="country" [suggestions]="countries" 
                            (completeMethod)="searchCountry($event)"
                            (onSelect)="onCountryChange($event)"
                            [dropdown]="false"></p-autoComplete>
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">State:                        
                        <select class="form-control" formControlName="state" (change)="onStateChange($event.target.value)">
                            <option value="">Select</option>
                            <option *ngFor="let st of states" [value]="st.name">
                                {{st.name}}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">City:                        
                        <select class="form-control" formControlName="city">
                            <option value="">Select</option>
                            <option *ngFor="let city of cities" [value]="city.name">
                                {{city.name}}
                            </option>
                        </select>
                    </label>
                </div>
            </fieldset>
        </div>
        <p>
            <p-confirmDialog header="Add Address" icon="fa fa-question-circle" width="425"></p-confirmDialog>
            <button type="button" [style.display.block]="addresses.controls.length === 0" (click)="addAddress()">Add Address</button>
            <button type="submit" [disabled]="!regForm.valid">Submit</button>
        </p>
    </form>
</div>

<div *ngIf="employees.length">
    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Email
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Sex
                </th>
                <th>
                    Physically Handicapped
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <!-- <tr>
            <td>
                First Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Age
            </td>
            <td>
                Email
            </td>
            <td>
                Date of Birth
            </td>
            <td>
                Sex
            </td>
            <td>
                Physically Handicapped
            </td>
            <td>
                Address
            </td>
        </tr> -->
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>
                    {{emp.firstName}}
                </td>
                <td>
                    {{emp.lastName}}
                </td>
                <td>
                    {{emp.age}}
                </td>
                <td>
                    {{emp.email}}
                </td>
                <td>
                    {{emp.dateOfBirth | date: 'dd-MMM-yyyy'}}
                </td>
                <td>
                    {{emp.sex}}
                </td>
                <td>
                    {{emp.physicallyHandicapped ? 'True' : 'False'}}
                </td>
                <td>
                    {{emp.address[0].country}}, {{emp.address[0].state}}, {{emp.address[0].city}}
                </td>
            </tr>
        </tbody>
    </table>
</div>