<div>
    <h3>Template Driven Form</h3>
    <form [hidden]="submitted" #regForm="ngForm" (ngSubmit)="submitForm(regForm)">
        <div>
            <label>First Name: </label>
            <input placeholder="First Name" [(ngModel)]="emp.firstName" name="firstName" />
        </div>
        <div>
            <label>Last Name: </label>
            <input placeholder="Last Name" [(ngModel)]="emp.lastName" name="lastName" />
        </div>
        <div>
            <label>Age: </label>
            <input placeholder="Age" type="number" [(ngModel)]="emp.age" name="age" />
        </div>
        <div>
            <label>Email: </label>
            <input placeholder="Email" type="email" [(ngModel)]="emp.email" name="email" />
        </div>
        <div>
            <label>Date of Birth: </label>
            <input placeholder="Date of Birth" type="date" [(ngModel)]="emp.dateOfBirth" name="dateOfBirth" />
        </div>
        <div>
            <label>Sex: </label>
            <label>
                <input type="radio" [(ngModel)]="emp.sex" value="M" name="sex"> Male
            </label>
            <label>
                <input type="radio" [(ngModel)]="emp.sex" value="F" name="sex"> Female
            </label>
        </div>
        <div>
            <label>Physically Handicapped: </label>
            <input type="checkbox" [(ngModel)]="emp.physicallyHandicapped" name="physicallyHandicapped" />
        </div>        
        <p>
            <button type="submit" [disabled]="!regForm.valid">Submit</button>
        </p>
    </form>
</div>

<div *ngIf="submitted">
    Form has been submitted
</div>

<div *ngIf="employees.length">
    <table>
        <tr>
            <td>
                First Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Age
            </td>
            <td>
                Email
            </td>
            <td>
                Date of Birth
            </td>
            <td>
                Sex
            </td>
            <td>
                Physically Handicapped
            </td>            
        </tr>
        <tr *ngFor="let emp of employees">
            <td>
                {{emp.firstName}}
            </td>
            <td>
                {{emp.lastName}}
            </td>
            <td>
                {{emp.age}}
            </td>
            <td>
                {{emp.email}}
            </td>
            <td>
                {{emp.dateOfBirth}}
            </td>
            <td>
                {{emp.sex}}
            </td>
            <td>
                {{emp.physicallyHandicapped ? 'True' : 'False'}}
            </td>            
        </tr>
    </table>
</div>