<h1>Angular Route</h1>
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">
    Crisis Center
  </a>
  <a routerLink="/heroes" routerLinkActive="active">
    Heroes
  </a>
  <a routerLink="/admin" routerLinkActive="active">
    Admin
  </a>
  <a routerLink="/reactive-form" routerLinkActive="active">
    Reactive Form
  </a>
  <a routerLink="/tmpl-driven-form" routerLinkActive="active">
    Template Driven Form
  </a>
  <a routerLink="/mega-menu" routerLinkActive="active">
    Mega Menu
  </a>
  <a routerLink="/pipes" routerLinkActive="active">
    Pipes
  </a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>