<h2>HEROES</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero.id === selectedId">
        <a [routerLink]="['/hero', hero.id]">
            <span class="badge">{{ hero.id }}</span>{{ hero.name }}
        </a>
    </li>
</ul>

<button routerLink="/sidekicks">Go to sidekicks</button>